{% block content %}
<form method="POST" class="form-signin text-center">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email" required autofocus>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <div class="row">
        <div class="col">
            <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Login</button>
        </div>
    </div>
    {% if error_message %}
    <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endif %}

    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}

   
</form>
{% endblock %}